// diceytech theme overwrites

// This file is to override the default Richie theme scheme.
// Default Richie file: https://github.com/openfun/richie/blob/master/src/frontend/scss/colors/_theme.scss
// Instead of override the `r-theme` variable you can merge the default values with your own
// custom code.

$r-theme: recursive-map-merge( $r-theme, (
    base-schemes: (
        primary: $vivid-cerise-scheme,
    ),
    topbar: (
        hamburger-color: r-color('dark-cyan'),
        item-hover-color: r-color('vivid-cerise'),
        item-active-color: r-color('dark-cyan'),
        item-cta-background: r-color('vivid-cerise'),
        item-cta-border: r-color('vivid-cerise'),
        item-cta-hollow-color: r-color('vivid-cerise'),
    ),
    body-content: (
        base-color: r-color('black'),
        base-background: r-color('white'),
        insert-background-image: url('../../richie/images/components/wave-dark.svg'),
        base-link-color: r-color('vivid-cerise'),
    ),
    body-footer: (
        base-color: r-color('light-grey'),
        base-background: r-color('very-dark-magenta'),
        lang-color: r-color('white'),
        section-hover: r-color('white'),
        subtitle-color: r-color('white'),
        badge-button: $vivid-cerise-scheme,
    ),
    subheader: (
        base: $vivid-cerise-scheme,
        container: $middle-gradient-scheme,
        cta: $vivid-cerise-scheme,
        media-background: r-color('white'),
        teaser-border: rgba(r-color('grey87'), 0.7),
        search-input-color: r-color('black'),
        search-input-background: transparent,
        search-input-border: r-color('black'),
        search-input-placeholder: r-color('black'),
        social-network-badges: $transparent-dark-scheme,
    ),
    hero-intro: (
        insert-background-image: url('../../richie/images/components/wave-white.svg'),
        inner-background: $white-mask-gradient,
        title-color: r-color('vivid-cerise'),
        title-alt-color: r-color('charcoal'),
        content-color: r-color('black'),
        search-input-background: rgba(r-color('white'), 0.7),
        search-btn-background: r-color('vivid-cerise'),
        search-icon-fill: r-color('white'),
        cta-variant-from: rgba(r-color('white'), 0.8),
        cta-variant-to: rgba(r-color('white'), 0.8),
        cta-color: r-color('vivid-cerise'),
        cta-border: r-color('white'),
    ),
    section-plugin: (
        title-emphased-color: r-color('vivid-cerise'),
    ),
    blogpost-detail: (
        aside-glimpse-title-color: r-color('vivid-cerise'),
        aside-glimpse-title-background: r-color('white'),
        aside-glimpse-title-border: r-color('vivid-cerise'),
        categories: $vivid-cerise-scheme,
        categories-tag-background: transparent,
        top-border: r-color('light-grey'),
        theme-border: r-color('vivid-cerise'),
        pubdate-border: r-color('vivid-cerise'),
        authors-border: r-color('vivid-cerise'),
        cover-empty-background: r-color('smoke'),
        body-color: inherit,
        headline-color: r-color('slate-grey'),
        headline-border: r-color('black'),
        headline-title-color: r-color('black'),
        social-network-badges: $transparent-dark-scheme,
    ),
    blogpost-glimpse: (
        card-background: r-color('white'),
        title-color: r-color('black'),
        title-hover-color: r-color('vivid-cerise'),
        theme-border: r-color('vivid-cerise'),
        content-color: r-color('slate-grey'),
        content-hover-color: r-color('black'),
        media-background: r-color('light-grey'),
        date-color: r-color('slate-grey'),
        date-hover-color: r-color('vivid-cerise'),
        empty-color: r-color('black'),
    ),
    blogpost-glimpse-mini: (
        border: r-color('light-grey'),
    ),
    blogpost-glimpse-favorite: (
        content-color: inherit,
        title-color: r-color('vivid-cerise'),
        excerpt-color: r-color('slate-grey'),
        cta: $vivid-cerise-scheme,
        cta-hover: $vivid-cerise-scheme,
    ),
    button-caesura: (
        base: $vivid-cerise-scheme,
        base-hover: $vivid-cerise-scheme,
    ),
    category-detail: (
        empty-background: r-color('smoke'),
        insert-background-image: url('../../richie/images/components/wave-white.svg'),
        logo-background: r-color('white'),
        logo-border: r-color('light-grey'),
        logo-shadow: 0 0.25rem 1.5625rem r-color('slate-grey'),
        intro-title-color: r-color('firebrick6'),
        description-color: r-color('slate-grey'),
    ),
    course-detail: (
        organizations-title-color: r-color('slate-grey'),
        aside-title-border: r-color('charcoal'),
        primary-group-title-color: r-color('charcoal'),
        primary-group-background: null,
        primary-group-arc: null,
        run-cta: $vivid-cerise-scheme,
        run-descriptions-divider: r-color('light-grey'),
        plan-title-color: r-color('vivid-cerise'),
        license-label-color: r-color('denim'),
        checkmark-list-decoration: url('../../richie/images/components/checkmark.svg'),
        checkmark-list-decoration-color: r-color('vivid-cerise'),
        view-more-runs-color: r-color('vivid-cerise'),
        run-catalog-visibility-hidden-logo: url('../../richie/images/catalog_visibility/hidden.svg'),
        run-catalog-visibility-course-only-logo: url('../../richie/images/catalog_visibility/course_only.svg'),
        run-catalog-visibility-logo-color: r-color('vivid-cerise'),
    ),
    organization-detail: (
        banner-empty-background: r-color('smoke'),
        insert-background-image: url('../../richie/images/components/wave-white.svg'),
        logo-border: r-color('light-grey'),
        logo-shadow: 0 0.25rem 1.5625rem r-color('slate-grey'),
        intro-title: r-color('vivid-cerise'),
        categories: $vivid-cerise-scheme,
        description-color: r-color('slate-grey'),
    ),
    category-tags: (
        primary-item: $vivid-cerise-scheme,
        secondary-item: $vivid-cerise-scheme,
        tertiary-item: $smoke-scheme,
    ),
    characteristics: (
        primary-item: $vivid-cerise-scheme,
        secondary-item: $vivid-cerise-scheme,
        tertiary-item: $smoke-scheme,
    ),
    course-glimpse: (
        card-background: r-color('white'),
        base-shadow: 0 0 6px r-color('light-grey'),
        base-hover-shadow: 0 0 6px r-color('battleship-grey'),
        cta-background: r-color('battleship-grey'),
        empty-color: r-color('slate-grey'),
        icon-shadow: (
            0 10px 50px 0 rgba(r-color('black'), 0.05),
            0 12px 34px 0 rgba(r-color('black'), 0.15),
        ),
        icon: $middle-gradient-scheme,
        content-color: r-color('slate-grey'),
        title-color: r-color('black'),
        organization-media-empty-background: r-color('smoke'),
        organization-color: r-color('vivid-cerise'),
        code-color: r-color('battleship-grey'),
        svg-icon-fill: r-color('white'),
        footer: $battleship-grey-scheme,
        organization-shadow: 0 0 6px r-color('light-grey'),
    ),
    organization-glimpse-list: (
        empty-color: r-color('slate-grey'),
        empty-background: transparent,
    ),
    organization-glimpse: (
        base-background: r-color('white'),
        base-border: r-color('light-grey'),
        logo-empty-background: r-color('smoke'),
        link-border: r-color('vivid-cerise'),
    ),
    organization-glimpse-row: (
        base-background: r-color('white'),
        divider: r-color('light-grey'),
        hover-background: darken(r-color('white'), 2%),
        hover-title-color: r-color('vivid-cerise'),
    ),
    pagination: (
        item-color: r-color('slate-grey'),
        item-background: r-color('white'),
        item-border: r-color('light-grey'),
        current-color: r-color('white'),
        current-background: r-color('vivid-cerise'),
    ),
    search-filters: (
        base-background: r-color('white'),
        toggler-background: r-color('usc-gold'),
        toggler-shadow: 0 0 0.2rem r-color('slate-grey'),
        toggler-fill: r-color('slate-grey'),
    ),
    search-filters-pane: (
        title-color: r-color('black'),
        clearer-hover-color: r-color('vivid-cerise'),
    ),
    search-filters-group-modal: (
        button-background: r-color('vivid-cerise'),
        button-color: r-color('white'),
        close-background: r-color('white'),
        close-border: r-color('light-grey'),
        close-color: r-color('black'),
        input-background: r-color('light-grey'),
        input-color: r-color('black'),
        item-border: r-color('light-grey'),
    ),
    search-filters-value: (
        base-color: r-color('slate-grey'),
        base-border: r-color('light-grey'),
        hover-color: r-color('vivid-cerise'),
        hover-border: r-color('light-grey'),
        active-color: r-color('black'),
        count-color: r-color('slate-grey'),
        count-background: r-color('white'),
    ),
  )
);
